<br>
<br>

<form ng-submit="vm.Auction.save()">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Auction name.." required ng-model="vm.auction.title">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Create Auction!</button>
    </span>
  </div>
  <textarea type="text" class="form-control" placeholder="Description auction.." required ng-model="vm.auction.desc"></textarea>
</form>

<h3>Auctions</h3>
<hr>

<div>
  <div class="list-group">
    <a ui-sref="auctions.items({auctionId: auction._id})" class="list-group-item" ng-repeat="auction in vm.Auction.all">
      <h4 class="list-group-item-heading" ng-bind="auction.title"></h4>
      <p class="list-group-item-text" ng-bind="auction.desc"></p>
      <strong>by {{auction.user.displayName}}</strong>
    </a>
  </div>
</div>
